# Lesson Pandas

In [4]:
import pandas as pd
import numpy as np
import random

## Assignment 1: DataFrame Creation and Indexing

### Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [17]:
data = np.random.randint(1,100,size=(6,4))
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
print('Original Dataframe')
print(df)
print("\n")
df = df.set_index('A')
print('Dataframe with index set to first column:')
print(df)

Original Dataframe
    A   B   C   D
0   3  74  35  92
1  44   6  99  38
2  25  49  12  72
3   3  15  84  31
4  22  28  43  33
5  99  79  48  38


Dataframe with index set to first column:
     B   C   D
A
3   74  35  92
44   6  99  38
25  49  12  72
3   15  84  31
22  28  43  33
99  79  48  38

### Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [24]:
df = pd.DataFrame(data= np.random.randint(1,100,size=(3,3)),columns=['A','B','C'],index=['X', 'Y', 'Z'])
print("The dataframe is")
print(df)
print(f"\nThe element ar row Y and column B is {df['B']['Y']}")

The dataframe is
    A   B   C
X  29  63   6
Y  63  69  90
Z  55  68  66

The element ar row Y and column B is 69

## Assignment 2: DataFrame Operations

### Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [28]:
df = pd.DataFrame(data=np.random.randint(1,10,size=(5,3)),columns=['A','B','C'])
print("Original Dataframe")
print(df)
print("\n")
df['Product'] = df['A']*df['B']
print("Dataframe with new column")
print(df)

Original Dataframe
   A  B  C
0  2  9  8
1  7  9  8
2  6  5  8
3  3  5  6
4  8  2  5


Dataframe with new column
   A  B  C  Product
0  2  9  8       18
1  7  9  8       63
2  6  5  8       30
3  3  5  6       15
4  8  2  5       16

### Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [33]:
df = pd.DataFrame(data=np.random.randint(1,10,size=(4,3)),columns=['A','B','C'])
print("Original Dataframe")
print(df)
print(f"\nRow-Wise Sum:\n{df.sum(axis=1)}\n")
print(f"Column-Wise Sum:\n{df.sum(axis=0)}")

Original Dataframe
   A  B  C
0  5  7  6
1  2  2  5
2  3  6  7
3  6  8  5

Row-Wise Sum:
0    18
1     9
2    16
3    19
dtype: int64

Column-Wise Sum:
A    16
B    23
C    23
dtype: int64

## Assignment 3: Data Cleaning

### Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [39]:
df = pd.DataFrame(data=np.random.randint(1,10,size=(5,3)),columns=['A','B','C'])
print("Original Dataframe")
print(df)
print("\n")
df.iloc[1,2]=np.NaN
df.iloc[2,1]=np.NaN
df.iloc[3,0]=np.NaN
print("Dataframe with NaN values")
print(df)
print("\n")
df = df.fillna(df.mean(axis=0))
print("Dataframe with NaN values filled with mean")
print(df)

Original Dataframe
   A  B  C
0  4  3  2
1  3  1  2
2  3  2  5
3  9  9  2
4  3  6  2


Dataframe with NaN values
     A    B    C
0  4.0  3.0  2.0
1  3.0  1.0  NaN
2  3.0  NaN  5.0
3  NaN  9.0  2.0
4  3.0  6.0  2.0


Dataframe with NaN values filled with mean
      A     B     C
0  4.00  3.00  2.00
1  3.00  1.00  2.75
2  3.00  4.75  5.00
3  3.25  9.00  2.00
4  3.00  6.00  2.00

### Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [42]:
df = pd.DataFrame(data=np.random.randint(1,10,size=(6,4)),columns=['A','B','C','D'])
print("Original Dataframe")
print(df)
print("\n")
df.iloc[1,2]=np.NaN
df.iloc[2,1]=np.NaN
df.iloc[4,3]=np.NaN
print("Dataframe with NaN values")
print(df)
print("\n")
df = df.dropna()
print("Dataframe with NaN values dropped")
print(df)

Original Dataframe
   A  B  C  D
0  8  4  8  5
1  3  9  8  5
2  8  3  7  3
3  9  8  6  3
4  8  9  2  2
5  4  4  4  8


Dataframe with NaN values
   A    B    C    D
0  8  4.0  8.0  5.0
1  3  9.0  NaN  5.0
2  8  NaN  7.0  3.0
3  9  8.0  6.0  3.0
4  8  9.0  2.0  NaN
5  4  4.0  4.0  8.0


Dataframe with NaN values dropped
   A    B    C    D
0  8  4.0  8.0  5.0
3  9  8.0  6.0  3.0
5  4  4.0  4.0  8.0

## Assignment 4: Data Aggregation

### Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [58]:
import random
data = [[random.choice(['A', 'B', 'C']),np.random.randint(1,10)] for i in range(10)]
df = pd.DataFrame(data,columns=['Category','Value'])
print("Original Dataframe")
print(df)
grouped = df.groupby('Category')['Value'].agg(['sum','mean','count'])
print("\n")
print("Grouped Dataframe")
print(grouped)

Original Dataframe
  Category  Value
0        A      3
1        A      9
2        A      4
3        B      9
4        A      9
5        C      1
6        B      4
7        B      1
8        B      8
9        A      9


Grouped Dataframe
          sum  mean  count
Category
A          34   6.8      5
B          22   5.5      4
C           1   1.0      1

### Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [70]:
data = [[random.choice(['A', 'B', 'C']),random.choice(['D','E']),np.random.randint(1000,10000)] for i in range(20)]
df = pd.DataFrame(data,columns=['Product','Category','Sales'])
print("Original Dataframe")
print(df)
grouped = df.groupby('Category')['Sales'].agg(['sum'])
print("\n")
print("Grouped Dataframe:")
print(grouped)

Original Dataframe
   Product Category  Sales
0        C        E   4534
1        C        E   8410
2        C        D   7740
3        B        D   7695
4        C        E   1406
5        A        D   8784
6        C        D   5595
7        C        E   8126
8        B        D   1749
9        C        E   2466
10       A        E   5917
11       A        D   2634
12       A        D   7934
13       C        D   9648
14       B        E   1680
15       C        E   6781
16       C        E   7077
17       B        E   6365
18       A        D   6486
19       A        E   2457


Grouped Dataframe:
            sum
Category
D         58265
E         55219

## Assignment 5: Merging DataFrames

### Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [2]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      10
1   B      51
2   C      69
3   D      18
DataFrame 2:
  Key  Value2
0   A      33
1   B      46
2   C      13
3   E      77
Merged DataFrame:
  Key  Value1  Value2
0   A      10      33
1   B      51      46
2   C      69      13

### Perform a left join on two DataFrames - keeping all rows from the left DataFrame and matching rows from the right DataFrame.

In [11]:
df1 = pd.DataFrame({'Key': [random.choice(['A', 'B', 'C', 'E']) for _ in range(4)], 'Value1': np.random.randint(1,10,size=4)})
df2 = pd.DataFrame({'Key': [random.choice(['A', 'B', 'C', 'D']) for _ in range(4)], 'Value2': np.random.randint(1,10,size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)
merged = pd.merge(df1,df2,on='Key',how='left')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   C       3
1   A       8
2   A       8
3   B       5
DataFrame 2:
  Key  Value2
0   D       5
1   A       6
2   C       4
3   C       8
Merged DataFrame:
  Key  Value1  Value2
0   C       3     4.0
1   C       3     8.0
2   A       8     6.0
3   A       8     6.0
4   B       5     NaN

### Perform a right join on two DataFrames, keeping all rows from the right DataFrame and matching rows from the left DataFrame.

In [13]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged = pd.merge(df1,df2,on='Key',how='right')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      14
1   B      79
2   C      77
3   D      45
DataFrame 2:
  Key  Value2
0   A      20
1   B      41
2   C      26
3   E      78
Merged DataFrame:
  Key  Value1  Value2
0   A    14.0      20
1   B    79.0      41
2   C    77.0      26
3   E     NaN      78

### Perform an inner join on two DataFrames, keeping only the rows that have matching values in both DataFrames.

In [14]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged = pd.merge(df1,df2,how='inner')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      23
1   B      76
2   C      98
3   D      87
DataFrame 2:
  Key  Value2
0   A       4
1   B      18
2   C      37
3   E      97
Merged DataFrame:
  Key  Value1  Value2
0   A      23       4
1   B      76      18
2   C      98      37

### Perform an outer join on two DataFrames, keeping all rows from both DataFrames, even if there are no matching values.

In [15]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged = pd.merge(df1,df2,how='outer')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      90
1   B      73
2   C      33
3   D      57
DataFrame 2:
  Key  Value2
0   A      40
1   B      10
2   C      42
3   E      34
Merged DataFrame:
  Key  Value1  Value2
0   A    90.0    40.0
1   B    73.0    10.0
2   C    33.0    42.0
3   D    57.0     NaN
4   E     NaN    34.0

### Merge multiple DataFrames with different common columns.

In [18]:
df1 = pd.DataFrame({'key1': ['a', 'b'], 'value1': [1, 2]})
df2 = pd.DataFrame({'key2': ['b', 'c'], 'value2': [3, 4]})
df3 = pd.DataFrame({'key1': ['a', 'c'], 'value3': [5, 6]})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)
print("DataFrame 3:")
print(df3)

merged_df = pd.merge(df1, df2, left_on='key1', right_on='key2', how='outer')
print("Merged DataFrame:\n")
print(merged_df)
merged_df = pd.merge(merged_df,df3,on='key1',how='outer')
print("Merged DataFrame:\n")
print(merged_df)

DataFrame 1:
  key1  value1
0    a       1
1    b       2
DataFrame 2:
  key2  value2
0    b       3
1    c       4
DataFrame 3:
  key1  value3
0    a       5
1    c       6
Merged DataFrame:

  key1  value1 key2  value2
0    a     1.0  NaN     NaN
1    b     2.0    b     3.0
2  NaN     NaN    c     4.0
Merged DataFrame:

  key1  value1 key2  value2  value3
0    a     1.0  NaN     NaN     5.0
1    b     2.0    b     3.0     NaN
2    c     NaN  NaN     NaN     6.0
3  NaN     NaN    c     4.0     NaN

### Merge DataFrames with duplicate column names and specify how to handle them.

In [19]:
# Create DataFrames
df1 = pd.DataFrame({'key': ['a', 'b'], 'value': [1, 2]})
df2 = pd.DataFrame({'key': ['b', 'c'], 'value': [3, 4]})

# Merge with duplicate column handling
merged_df = pd.merge(df1, df2, on='key', suffixes=('_x', '_y'))

print(merged_df)

  key  value_x  value_y
0   b        2        3

### Create two Pandas DataFrames with different columns

In [78]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
  Key  Value1
0   A      86
1   B      16
2   C      15
3   D      80
DataFrame 2:
  Key  Value2
0   A      48
1   B      25
2   C       3
3   E      16
Concatenated DataFrame (rows):
  Key  Value1  Value2
0   A    86.0     NaN
1   B    16.0     NaN
2   C    15.0     NaN
3   D    80.0     NaN
0   A     NaN    48.0
1   B     NaN    25.0
2   C     NaN     3.0
3   E     NaN    16.0
Concatenated DataFrame (columns):
  Key  Value1 Key  Value2
0   A      86   A      48
1   B      16   B      25
2   C      15   C       3
3   D      80   E      16

## Assignment 6: Time Series Analysis

### Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [32]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)
monthly_mean = df.resample('ME').mean()
print("Monthly Mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    53
2022-01-02    51
2022-01-03    54
2022-01-04    53
2022-01-05    31
...          ...
2022-12-27    71
2022-12-28    61
2022-12-29    77
2022-12-30    16
2022-12-31    96

[365 rows x 1 columns]
Monthly Mean DataFrame:
                 data
date
2022-01-31  56.322581
2022-02-28  47.071429
2022-03-31  44.741935
2022-04-30  44.533333
2022-05-31  45.838710
2022-06-30  51.300000
2022-07-31  46.645161
2022-08-31  45.677419
2022-09-30  50.566667
2022-10-31  53.838710
2022-11-30  55.400000
2022-12-31  58.806452

### Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [47]:
date_range = pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
vals = np.random.randint(1,1000,size=len(date_range))
df = pd.DataFrame(data=vals,index=date_range,columns=['Value'])
print("First 5 rows of\nOriginal DataFrame:")
print(df.head())
rolling_mean = df.rolling(window=7).mean()
print("\nFirst 5 rows of\nRolling Mean DataFrame:")
print(rolling_mean)

First 5 rows of
Original DataFrame:
            Value
2021-01-01    377
2021-01-02    660
2021-01-03    493
2021-01-04    597
2021-01-05    460

First 5 rows of
Rolling Mean DataFrame:
                 Value
2021-01-01         NaN
2021-01-02         NaN
2021-01-03         NaN
2021-01-04         NaN
2021-01-05         NaN
...                ...
2021-12-27  497.285714
2021-12-28  584.571429
2021-12-29  574.285714
2021-12-30  614.285714
2021-12-31  593.428571

[365 rows x 1 columns]

## Assignment 7: MultiIndex DataFrame

### Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [48]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              55      46      95
         two              41      77      77
B        one              95      42      16
         two              72      51      23
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              55      46      95
two              41      77      77
Slicing at Category 'B' and SubCategory 'two':
Value1    72
Value2    51
Value3    23
Name: (B, two), dtype: int64